@media screen and (min-width:720px) {

    .cuerpo {
        .cero {
            .uno {
                h1 {
                    font-size: 2.5rem;
                }
            }

            .dos {
                span {
                    font-size: 2.5rem;
                }
            }
        }

        .social {
            display: none;
        }
    }

    .artistas {
        flex-wrap: nowrap;

        .nosotros {
            padding: 2rem;

            p {
                padding: 0.5rem 1rem;
                text-align: justify;
            }

            h2 {
                text-align: center;
                padding-bottom: 0.7rem;
                font-size: 1.8rem;

                span {
                    display: block;
                    display: inline-block;
                }
            }
        }
    }


    #fotoTatuadores {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "diego garo"
            "gera cami";

        #tatuador1 {
            grid-area: diego;
        }

        #tatuador2 {
            grid-area: garo;
        }

        #tatuador3 {
            grid-area: gera;
        }

        #tatuador4 {
            grid-area: cami;
        }


    }


    .consejos {
        h1,
        h2,
        h3 {
            text-align: center;
            font-size: 1.8rem;
        }

        p {
            padding: 2% 4%;
        }

    }

    // contacto html



    .formulario {
        display: flex;
        flex-direction: wrap;
        justify-content: start;

        iframe {
            height: 100vh;
            width: 100%;

            &:hover {
                filter: grayscale(1);
            }
        }

        form {
            padding: 20px;
            width: 60%;

            input[type=submit]:hover {
                background-color: #3C415C;
                color: #fff;
            }
        }

    }

}

@media screen and (min-width:920px) {

    .nosotrosTexto {
        font-size: 1.2rem;

        .nosotrosPc {
            display: block;
            padding-top: 0.3rem;

            .nosotrosCel {
                font-size: 1.2rem;
            }
        }
    }


}

@media screen and (min-width:1260px) {

    .navbar ul li a {
        font-size: 1.3rem;
        position: relative;

        &:after,
        &:before {
            transition: all .5s;
        }

        &:after,
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background: #aaa;
            height: 1px;
        }

        &:hover:after {
            width: 100%;
        }
    }

    .mainNosotros {
        .cuerpo {
            .cero {
                .uno {
                    h1 {
                        font-size: 4rem;
                        padding-bottom: 1.2rem;
                    }
                }

                .dos {
                    span {
                        font-size: 4rem;
                    }

                    &:hover {
                        background-color: #301B3F;
                        border: none;
                        color: #fff;
                    }

                }
            }

            .social {
                display: block;

                .facebook {
                    position: fixed;
                    top: 44%;
                    right: 1%;
                }

                .instagram {
                    position: fixed;
                    top: 50%;
                    right: 1%;
                }

                .whatsapp {
                    position: fixed;
                    top: 56%;
                    right: 1%;
                }
            }
        }
    }

    .artistas {
        .nosotros {
            h2 {
                span {
                    display: block;
                    display: inline-block;
                }
            }

            p {
                padding: 0.5rem 3rem;
            }

            .nosotrosTexto {
                font-size: 1.5rem;

                .nosotrosPc {
                    display: block;



                }
            }

            .nosotrosCel {
                font-size: 1.5rem;
            }
        }

    }



    /*foto tatuadores*/

    #fotoTatuadores {
        display: block;   
    }

    .tatuadores figcaption {
        font-size: 1.5rem;
    }

    .consejos p {
        font-size: 1.5rem;
    }

    /*footer*/

    footer {
        font-size: 1.2rem;

        .logoFooter {
            display: block;
            margin: 0.3rem;
        }

        .columna {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "columna1 columna2 columna3";

            .columna1 {
                display: block;
                grid-area: columna1;
                margin: 4% 20%;

                ul li {
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        text-decoration-color: #fff;

                        &:hover {
                            color: #B4A5A5;
                        }
                    }
                }
            }

            .columna2 a:hover {
                color: #B4A5A5;
            }

            .columna3 {
                display: block;
                grid-area: columna3;
                text-align: center;
                padding-top: 5%;

                input {
                    padding: 0.5rem;
                    width: 19.5rem;
                    margin: 0.5rem;
                    border: 0;
                    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.06);
                    border-radius: 10px;

                    [type=submit] {
                        padding: 0.5rem;
                        width: 19.5rem;
                        border: 0;
                        box-shadow: 0 0 15px 5px rgba(49, 46, 46, 0.06);
                        border-radius: 10px;

                        &:hover {
                            background-color: #301B3F;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}